<h3 class="ui header">{{t "forms.i-i-s-templates2-задача-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationObject "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-templates2-задача-e.номер-caption")
      data-test-i-i-s-templates2-задача-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "номер" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationObject "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-templates2-задача-e.наименование-caption")
      data-test-i-i-s-templates2-задача-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "наименование" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-templates2-задача-e.срок-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.срок
      class=(if (v-get validationObject "срок" "isInvalid") "error")
      data-test-i-i-s-templates2-задача-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "срок" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-templates2-задача-e.проект-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.проект
      relationName="проект"
      projection="ПроектL"
      title=(t "forms.i-i-s-templates2-задача-e.проект-caption")
      readonly=readonly
      componentName="проектLookup"
      data-test-i-i-s-templates2-задача-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "проект" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.проект.наименование
      class=(if (v-get validationObject "проект.наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-templates2-задача-e.проект.наименование-caption")
      data-test-i-i-s-templates2-задача-e--------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "проект.наименование" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-templates2-задача-e.исполнитель-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.исполнитель
      relationName="исполнитель"
      projection="СотрудникL"
      title=(t "forms.i-i-s-templates2-задача-e.исполнитель-caption")
      readonly=readonly
      componentName="исполнительLookup"
      data-test-i-i-s-templates2-задача-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "исполнитель" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.исполнитель.фИО
      class=(if (v-get validationObject "исполнитель.фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-templates2-задача-e.исполнитель.фИО-caption")
      data-test-i-i-s-templates2-задача-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "исполнитель.фИО" "messages")}}
  </div>
</form>